# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://cwxyovvjeuicoybgwqcp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# Push Notifications (VAPID)
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BFQHqOSDkhDH-sjJvRPhe3xA8IL1OnsP55DNPYiEHZkG4CB5ACYHfP8Sn5oD0bus2StANcCnyLeY3O8g8PR6q68
VAPID_PRIVATE_KEY=MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgWjv9oW-TkWs__UDGEQw0Pyjec8v-mtg4onGBwd--D3uhRANCAARUB6jkg5IQx_rIyb0T4Xt8QPCC9Tp7D-eQzT2IhB2ZBuAgeQAmB3z_Ep-aA9G7rNkrQDXAp8i3mNzvIPD0equv

# PayConic
PAYCONIC_API_KEY=your_payconic_key_here
PAYCONIC_WEBHOOK_SECRET=your_webhook_secret_here
NEXT_PUBLIC_PAYCONIC_PUBLISHABLE_KEY=your_publishable_key_here

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
CRON_SECRET=your_cron_secret_here
